extends ../layout

block content
  h1= title
  .container
    .row
      .col-lg-2.col-md-2
        input#cropper-image(type='file', name='image')
      .col-lg-6.col-md-6
        input#cropper-image1(type='file', name='image1')
