doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/libs/cropperjs/dist/cropper.min.css')
    link(rel='stylesheet', href='/stylesheets/cropper-editor.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='/libs/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/libs/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/libs/cropperjs/dist/cropper.min.js')
    script(type='text/javascript', src='/javascripts/cropper-editor.js')
