extends ../layout/default

block stylesheets
    link(rel='stylesheet', href='/libs/bootstrap-chosen/bootstrap-chosen.css')
block javascripts
    script(type='text/javascript', src='/libs/bootstrap-chosen/dist/chosen.jquery-1.4.2/chosen.jquery.min.js')
    script(type='text/javascript').
        $('#select-status').chosen({disable_search: true});

block content
    include ./form
    // Content Header (Page header)
    section.content-header
        h1
            | Thêm vai trò
        ol.breadcrumb
            li
                a(href='/')
                    i.fa.fa-dashboard
                    |  Dashboard
            li
                a(href='/role')
                    i.fa.fa-briefcase
                    |  Role
            li.active Chỉnh sửa
    // Main content
    section.content
        .row
            .col-lg-12.col-md-12
                +form(data ? data : {}, permissions ? permissions : [])
                    // /.box-body