#contact
    #list-contacts.contact-hidden
        .list-items
        #footer-contact.search-item
            input#search-contact-keyword(type='text', name='searchContact', placeholder='Type keyword here ...', onkeyup='return searchContact(this.value)')
            span#search-contact-icon
                i.fa.fa-search
    button#btn-contact-fixed.contact-neo(onclick='return showChatContacts();')
        i.fa.fa-comments
        