// Left side column. contains the sidebar
aside.main-sidebar
	// sidebar: style can be found in sidebar.less
	section.sidebar
		// Sidebar user panel
		.user-panel
			.pull-left.image
				img.img-circle(src=(user && user.avatar) ? user.avatarUrl : '', alt='User Image')
			.pull-left.info
				p #{user ? user.fullName : 'Anonymous'}
				a(href='#')
					i.fa.fa-circle.text-success
					|  Online
		// search form
		form.sidebar-form(action='#', method='get')
			.input-group
				input.form-control(type='text', name='q', placeholder='Search...')
				span.input-group-btn
					button#search-btn.btn.btn-flat(type='submit', name='search')
						i.fa.fa-search
		// /.search form
		// sidebar menu: : style can be found in sidebar.less
		ul.sidebar-menu(data-widget='tree')
			li.header
				i.fa.fa-bars &nbsp;&nbsp;MAIN MENU
			li(class=(current == 'dashboard') ? 'active' : null)
				a(href='/')
					i.fa.fa-dashboard
					span Dashboard
			li.treeview(class=(current == 'news-category' || current == 'news') ? 'active' : null)
				a(href='#')
					i.fa.fa-newspaper-o
					span Tin tức
					span.pull-right-container
						i.fa.fa-angle-left.pull-right
				ul.treeview-menu
					li(class=(current == 'news-category') ? 'active' : null)
						a(href='/news-category')
							i.fa.fa-briefcase
							|  Danh mục
					li(class=(current == 'news') ? 'active' : null)
						a(href='/news')
							i.fa.fa-pencil
							|  Bài viết
			li.header
				i.fa.fa-cogs &nbsp;&nbsp;SETTINGS
			li.treeview(class=(current == 'account' || current == 'login-manager') ? 'active' : null)
				a(href='#')
					i.fa.fa-user
					span Tài khoản
					span.pull-right-container
						i.fa.fa-angle-left.pull-right
				ul.treeview-menu
					li(class=(current == 'account') ? 'active' : null)
						a(href='/account')
							i.fa.fa-users
							span Danh sách
					li(class=(current == 'login-manager') ? 'active' : null)
						a(href='/login-manager')
							i.fa.fa-laptop
							span Quản lý thiết bị
			li.treeview(class=(current == 'config' || current == 'log') ? 'active' : null)
				a(href='#')
					i.fa.fa-cog
					span Hệ thống
					span.pull-right-container
						i.fa.fa-angle-left.pull-right
				ul.treeview-menu
					li(class=(current == 'setting') ? 'active' : null)
						a(href='/config')
							i.fa.fa-cog
							span Cấu hình
					li(class=(current == 'log') ? 'active' : null)
						a(href='/log')
							i.fa.fa-history
							span Lịch sử
	// /.sidebar
// ===============================================