extends ../layout/default

block stylesheets
    link(rel='stylesheet', href='/libs/froala-editor/css/froala_editor.pkgd.min.css')
    link(rel='stylesheet', href='/libs/froala-editor/css/froala_style.min.css')
    link(rel='stylesheet', href='/libs/bootstrap-datetime-picker/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/libs/bootstrap-chosen/bootstrap-chosen.css')
    link(rel='stylesheet', href='/libs/cropperjs/dist/cropper.min.css')
    link(rel='stylesheet', href='/stylesheets/cropper-editor.css')
block javascripts
    script(type='text/javascript', src='/libs/froala-editor/js/froala_editor.pkgd.min.js')
    script(type='text/javascript', src='/libs/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js')
    script(type='text/javascript', src='/libs/bootstrap-chosen/dist/chosen.jquery-1.4.2/chosen.jquery.min.js')
    script(type='text/javascript', src='/libs/cropperjs/dist/cropper.min.js')
    script(type='text/javascript', src='/javascripts/cropper-editor.js')
    script(type='text/javascript').
        $('#publishAt').datetimepicker({
            format: 'dd-mm-yyyy',
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('#news-content').froalaEditor({
            heightMin: 280,
            // Button show xs
            toolbarButtonsXS: ['bold', 'italic', 'underline', 'fontFamily', 'fontSize', '-', 'insertTable', 'insertImage', 'undo', 'redo'],
            // Set the image upload URL.
            imageUploadURL: '/api/media/froala-upload-image/news',
            // Load all images from folder
            imageManagerLoadURL: '/api/media/froala-load-images/news'
        });
        let cropperEditor1 = new CropperEditor({
            selector: '#cropper-images',
            upload_url: '/api/media/upload-image',
            uploadDir: '/images/news',
            prefixFileName: 'news',
            isMultiple: true,
            thumbWidth: 400,
            thumbHeight: 400,
            clientOptions: {
                viewMode: 1,
                dragMode: 'move',
                cropBoxResizable: false
            }
        });
        $('#select-category').chosen({});
    
        $('#select-category').chosen({disable_search: true});

block content
    include ./form
    // Content Header (Page header)
    section.content-header
        h1
            | Viết bài
            small Ahihi
        ol.breadcrumb
            li
                a(href='/')
                    i.fa.fa-dashboard
                    |  Dashboard
            li
                a(href='/news')
                    i.fa.fa-users
                    |  Tin tức
            li.active Viết bài
    // Main content
    section.content
        .row
            .col-lg-12.col-md-12
                +form(data ? data : {})
                    // /.box-body