extends ../layout/default

block stylesheets
    link(rel='stylesheet', href='/stylesheets/select-option.css')
block javascripts
    script(type='text/javascript', src='/javascripts/select-option.js')
    script(type='text/javascript').
        new SelectOption({
            selector: '#select-status',
            search: false
        })

block content
    include ./form
    // Content Header (Page header)
    section.content-header
        h1
            | Thêm quyền truy cập
        ol.breadcrumb
            li
                a(href='/')
                    i.fa.fa-dashboard
                    |  Dashboard
            li
                a(href='/permission')
                    i.fa.fa-briefcase
                    |  Permission
            li.active Thêm mới
    // Main content
    section.content
        .row
            .col-lg-12.col-md-12
                +form(data ? data : {})
                    // /.box-body